node_modules/
native-app/node_modules/
apps/api/dist/

.idea/

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

*.log
*.out.log
*.err.log
*.bundle
*.png
*.xml
*.db
*.sqlite
*.sqlite3

native-app/android/.gradle/
native-app/android/.kotlin/
native-app/android/build/
native-app/android/app/build/
native-app/android/app/.cxx/
native-app/android/local-maven/
native-app/.bundle/
native-app/temp-assets/
